@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  font-family: var(--font-inter), sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-cormorant), serif;
  letter-spacing: -0.015em;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
